@media (min-width: 300px) {
    .carrousel {
      height: 40vh!important;
    }
  }

  @media (min-width: 768px) {
    .carrousel {
      height: 60vh!important;
    }
  }

  @media (min-width: 1024px) {
    .carrousel {
      height: 95vh!important;
    }
  }